<ion-view view-title="{{navTitle}}" class="bg-blur">
  <div class="content has-header has-footer ">
    <div class="waiting-box" ng-show="showInfo">
      <div class="waiting-inner">
        <div class="valet-info text-center">
          <h4>New pick-up request</h4>
          <img ng-src="{{bookingInfo.user.avatar}}" alt="" width="100" class="avatar">
          <h2>{{bookingInfo.user.name}}</h2>
        </div>
        <div class="trip-info">
          <div class="start row center-all">
            <div class="col-10">
              <img src="img/pickup-icon-2.png" alt="" width="27">
            </div>
            <div class="col">
              <p>PICK-UP</p>
              <h4>{{bookingInfo.userStart}}</h4>
            </div>
          </div>
          <div class="end row center-all">
            <div class="col-10">
              <img src="img/drop-off-icon-2.png" alt="" width="25">
            </div>
            <div class="col">
              <p>DROP-OFF</p>
              <h4>{{bookingInfo.userEnd}}</h4>
            </div>
          </div>
        </div>
        <div class="more-info row">
          <div class="col-67 col">
            Payment by <strong>{{bookingInfo.payment | uppercase }}</strong>
          </div>
          <div class="col text-right">
            <img src="img/phone-icon.png" alt="" width="30">
            <img src="img/sms-icon.png" alt="" width="30">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bar bar-footer" ng-show="showInfo">
    <a class="button button-orange" ng-click="accept()">ACCEPT</a>
    <a class="button button-blue">cancel</a>
  </div>
   <div class="bar bar-footer" ng-show="showComplete">
    <a class="button button-orange button-full" ng-click="complete()">COMPLETED</a>
  </div>
</ion-view>
