@font-face {
  font-family: 'AvenirLTStd';
  src: url('../fonts/AvenirLTStd-Medium.eot');
  src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
    url('../fonts/AvenirLTStd-Medium.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd';
  src: url('../fonts/AvenirLTStd-Light.eot');
  src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Light.woff') format('woff'),
    url('../fonts/AvenirLTStd-Light.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('../fonts/AvenirLTStd-Heavy.eot');
  src: url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
    url('../fonts/AvenirLTStd-Heavy.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}


.ion-google-place-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
}


input.ion-google-place[readonly]{
    background-color: transparent;
    cursor: text;
}

.angular-google-map-container { height: 100vh; }

.addr-holder { position: absolute; top: 20px; left: 0; z-index: 5; padding: 0 20px; width: 100%;
  &.more-info-holder { top: 0;
    .more-info-item { padding: 20px;
      h4 { color: #fff; margin: 0; }
      p { margin: 0; }
    }
  }
  .col { padding:0; }
  .addr-info { padding: 0 5px 0 10px;
    h4 { color: #fff; margin-bottom: 0; margin-top: 10px; line-height: 17px; }
    p { margin-bottom: 0; color: #b0b0b0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 13px; }
    textarea { background: none; color: #fff; width: 100%; margin-top: 15px; min-height: 35px; }
    ::-webkit-input-placeholder { color: #fff; }
    :-moz-placeholder { color: #fff; }
    ::-moz-placeholder { color: #fff; }
    :-ms-input-placeholder { color: #fff; }
  }
  .addr-item { background: rgba(0,0,0,.85); padding:0; color: #fff; margin-bottom: 20px; display: flex;
    .ico-holder { line-height: 50px; font-size: 23px; -webkit-box-flex: 0; -webkit-flex: 0 0 50px; -moz-box-flex: 0; -moz-flex: 0 0 50px; -ms-flex: 0 0 50px; flex: 0 0 50px; max-width: 50px;  overflow: hidden;
      .ico { margin-top: 10px; }
    }
    &.addr-start {
      .ico-holder { background: #bb6018; padding:0; color: #fff; }
    }
    &.addr-end {
      .ico-holder { background: #123d8b; padding:0; color: #fff; }
    }
  }

  .holder-addr { position: absolute; top: 0; left: 0; width: 80%; padding: 0 20px;
    input { height: 50px; }
    .row { padding: 0; margin-top: 0;  margin-bottom: 15px;  width: 100%; height: 50px; opacity: 0;}
  }
  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-ph); line-height: 30px; padding-left: 10px;
  }
}