<ion-view view-title="{{navTitle}}">
  <ion-header-bar class="bar-stable bar bar-header" align-title="center">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
      </span></div><div class="title title-center header-item" style="left: 45px; right: 45px;"><img class="logo-title" src="img/logo.png" width="80" /></div>
    </ion-header-bar>
  <div class="content intro-state">
    <a href="#" ui-sref="app.search" style="background-image: url(img/intro-now.png);"></a>
    <a href="#" style="background-image: url(img/intro-advance.png);"></a>
    <a href="#" style="background-image: url(img/intro-block.png);"></a>
  </div>
</ion-view>
