<ion-view view-title="{{navTitle}}">
  <div class="content has-header has-footer">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='mapOptions' control='map.control'>
      <ui-gmap-marker coords="markerStart.coords" options="markerStart.options" events="markerStart.events" idkey="markerStart.id" icon= '{url:"img/marker-me.png" }'>
      </ui-gmap-marker>
      <ui-gmap-marker coords="markerEnd.coords" options="markerEnd.options" events="markerEnd.events" idkey="markerEnd.id" icon= '{url:"img/marker-end.png" }'>
      </ui-gmap-marker>
      <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" icon= '{url:"img/marker-points.png" }'>
      </ui-gmap-marker>

      <ui-gmap-markers models="vehicles" coords="'last_known_location'" icon= '{url:"img/markers.png" }'>
      </ui-gmap-markers>
    </ui-gmap-google-map>

    <div class="addr-holder">
      <div class="addr-start addr-item row">
        <div class="ico-holder col text-center">
          <img src="img/pickup-icon.png" alt="" width="22">
        </div>
        <div class="col-75 addr-info" >
          <div class="">
            <h4 contentEditable=true data-ph="Choose your pick-up location"><small ng-if="startEnd.start.formatted_address">PICK-UP</small></h4>
            <p>
            {{ startEnd.start.formatted_address}}</p>
          </div>
        </div>
        <div class="ico-holder-right text-center">
          <img src="img/arrow-blue.png" alt="" width="15">
        </div>
      </div>

      <div class="addr-end addr-item row">
        <div class="ico-holder col text-center">
          <img src="img/drop-off-icon.png" alt="" width="20">
        </div>
        <div class="col-75 addr-info" >
          <div class="">
            <h4 contentEditable=true data-ph="Choose your drop-off location"><small ng-if="startEnd.end.formatted_address">DROP-OFF</small></h4>
            <p>
            {{ startEnd.end.formatted_address}}</p>
          </div>
        </div>
        <div class="ico-holder-right text-center">
          <img src="img/arrow-orange.png" alt="" width="15">
        </div>
      </div>

      <div class="holder-addr">
        <div class="row addr-start-poa">
          <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="startEnd.start" class="col" ng-change="doMapStart(startEnd.start)" geocode-options="geocodeOptions"></ion-google-place>
        </div>
        <div class="row addr-end-poa">
          <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="startEnd.end" class="col" ng-change="doMapEnd(startEnd.end)" geocode-options="geocodeOptions"></ion-google-place>
        </div>
      </div>
    </div>

  </div>
  <div class="payment">
      <div class="row">
        <div class="col col-25 text-center">
          Payment
        </div>
        <div class="col">
          <div class="item item-checkbox">
             <label class="checkbox">
               <input type="radio" name="pay" value="card" ng-model="payment" ng-click="getValuePayment(payment)">
             </label>
             Credit card
          </div>
        </div>
        <div class="col col-33">
          <div class="item item-checkbox">
             <label class="checkbox">
               <input type="radio" name="pay" value="cash" checked ng-model="payment" ng-click="getValuePayment(payment)">
             </label>
             Cash
          </div>
        </div>
      </div>
  </div>
  <div class="bar bar-footer">
    <a class="button button-blue button-full" ui-sref="app.summary">NEXT</a>
  </div>
</ion-view>
