<ion-view view-title="Booking summary">
  <div class="content has-header has-footer bg-blur">
    <div class="summary-box">
      <div class="summary-inner">
        <div class="start row center-all">
          <div class="col-10">
            <img src="img/pickup-icon-2.png" alt="" width="27">
          </div>
          <div class="col">
            <p>PICK-UP</p>
            <h4>{{userStart}}</h4>
          </div>
        </div>
        <div class="end row center-all">
          <div class="col-10">
            <img src="img/drop-off-icon-2.png" alt="" width="25">
          </div>
          <div class="col">
            <p>DROP-OFF</p>
            <h4>{{userEnd}}</h4>
          </div>
        </div>
        <div class="info row">
          <div class="col text-center">
            Fare <strong>SGD {{totalFare | number : 2}}</strong>
          </div>
          <div class="col text-center">
            Est time <strong>{{totalTime | number : 0}} mins</strong>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="payment">
    <div class="row">
      <div class="col col-25 text-center">
        Payment
      </div>
      <div class="col">
        <div class="item item-checkbox">
           <label class="checkbox">
             <input type="radio" name="pay" value="card" ng-model="payment" ng-click="getValuePayment(payment)">
           </label>
           Credit card
        </div>
      </div>
      <div class="col col-33">
        <div class="item item-checkbox">
           <label class="checkbox">
             <input type="radio" name="pay" value="cash" checked ng-model="payment" ng-click="getValuePayment(payment)">
           </label>
           Cash
        </div>
      </div>
    </div>
  </div>
  <div class="bar bar-footer">
    <a class="button button-orange button-full" ui-sref="app.waiting">request for valet</a>
  </div>
</ion-view>
