<ion-view view-title="Waiting">
  <div class="content has-header has-footer bg-blur">
    <div class="waiting-box" ng-show="showInfo">
      <div class="waiting-inner">
        <div class="valet-info text-center">
          <h4>Your valet is on the way</h4>
          <img ng-src="{{driver.avatar}}" alt="" width="100" class="avatar">
          <h2>{{driver.name}}</h2>
          <p><img src="img/phone-icon.png" alt="" width="23">{{driver.phone}}</p>
        </div>
        <div class="trip-info row text-center">
          <div class="col">
            <p>Est Fare</p>
            <h4 class="fare">SGD {{totalFare | number: 2}}</h4>
          </div>
          <div class="col">
            <p>Pay by</p>
            <h4>{{payment | uppercase }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="bar bar-footer" ng-show="showInfo">
      <a class="button button-blue button-full" ui-sref="app.rating">cancel booking</a>
    </div>
</ion-view>
