<ion-view view-title="Waiting">
  <div class="content has-header has-footer bg-blur">
    <div class="waiting-box">
      <div class="waiting-inner">
        <div class="valet-info text-center">
          <h4>Your valet is on the way</h4>
          <img src="img/michael.png" alt="" width="100" class="avatar">
          <h2>Gabriel Philipecki</h2>
          <p><img src="img/phone-icon.png" alt="" width="23"> +65 8558 7261</p>
        </div>
        <div class="trip-info row text-center">
          <div class="col">
            <p>Est Fare</p>
            <h4 class="fare">SGD {{totalFare | number: 1}}</h4>
          </div>
          <div class="col">
            <p>Pay by</p>
            <h4>{{payment | uppercase }}</h4>
          </div>
        </div>
      </div>
    </div>

  </div>

    <div class="bar bar-footer">
      <a class="button button-blue button-full" ui-sref="app.rating">cancel booking</a>
    </div>
</ion-view>
